nav {
  display: flex;
}

nav div:first-child {
  width: 20%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

nav div:first-child img {
  width: 65%;
  margin-top: 7%;
}

nav div:last-child {
  line-height: 5px;
  width: 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
nav div:last-child p,
h1 {
  text-align: start;
  margin-left: 7%;
  color: beige;
  font-family: "Roboto","Rubik", sans-serif;
}
nav div:last-child h1 {
  font-size: 45px;
}
nav div:last-child p {
  font-size: 20px;
  font-family: Poppins sans-serif;
  font-size: 20px Similar Fonts;
}

@media (min-width: 375px) and (max-width: 667px) {
  nav div:first-child {
    max-height: 52px;
  }
  nav div:last-child {
    height: fit-content;
  }
  nav div:last-child h1 {
    font-size: 20px;
    margin-left: 3%;
  }
  nav div:last-child p {
    font-size: 10px;
    margin-left: 3%;
    font-weight: 300;

  }
}
.nav div:last-child {
  animation-name: greenAnimation;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes greenAnimation {
  0% {
    background-color: rgb(24, 120, 242);
  }

  50% {
    background-color: #00ff00; 
  }

  100% {
    background-color: rgb(22, 120, 242); 
  }
}

@media (max-width: 1853px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 1%;
  }
}
@media (max-width: 1800px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 6%;
  }
}
@media (max-width: 1700px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 5%;
  }
}
@media (max-width: 1600px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 6%;
  }
}
@media (max-width: 1400px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 7%;
  }
}
@media (max-width: 1100px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 11%;
  }
}
@media (max-width: 900px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 14%;
  }
}

@media (max-width: 700px) {
  nav div:first-child img {
    width: 65%;
    margin-top: 17%;
  }
}
