.contain{
    display: flex;
}
.left {
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 550px;
}
.right {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 10px;
  background-color: darkgrey;
}
@media (max-width:873px){
  .left{
    display: none;
  }
}
