.drawer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  display: grid;
  grid-gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  color: rgb(24, 120, 242);
  font-weight: 500;
  font-family: "Roboto", "Rubik", sans-serif;
  text-decoration: none;
}

.item:hover {
  background-color: rgb(24, 120, 242);
  cursor: pointer;
  color: azure;
}

.icon {
  margin-right: 10px;
  font-size: 25px;
  font-weight: 900;
}

.activeItem {
  background-color: rgb(24, 120, 242);
  color: azure;
}

.activeItem:hover {
  background-color: rgb(24, 120, 242);
  cursor: pointer;
  color: azure;
}

.active {
  background-color: rgb(24, 120, 242) !important;
  color: azure !important;
}

.active .icon {
  color: azure;
}

.active .item {
  color: azure;
}
@media (max-width:873px){
  .container{
    display: none;
  }
}

